body {
    background: rgb(107, 107, 241);
    font: normal 15pt Arial;
}

header {
    color: white;
    text-align: center;
}

div {
      text-align: center;
}

section {
    background: white;
    border-radius: 10pt;
    padding: 15pt;
    width: 500px;
    margin: auto;
    color: rgb(0, 0, 0);
    box-shadow: 5pt 5px 10px rgba(0, 0, 0, 0.158);
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}